p.
  #[span.bold Hinweis:] Auf dieser Seite befinden sich mehrere Links, die 
  auf externe Seiten verweisen. Diese sind mit dem Symbol &#8618; 
  gekennzeichnet und werden in einem neuen Tab oder Fenster ge&ouml;ffnet. 
  F&uuml;r die verlinkten Seiten und deren Inhalte kann keine 
  Verantwortung &uuml;bernommen werden.