header
  h1.invert Webprojekt
  h2 Johannes Knieling, FIAE14

  - var capture = filename.match(/(\w+)\.pug/);
  - var pagename= capture[0].replace(/\.pug/, "");

nav.invert

  - 
    const fruits = {
      Index:"Übersicht",
      PAP:"Programmablaufplan",
      Inhalt:"Template Engine Pug",
      Pug:"Codebeispiel Pug"
    };   
 
  each value, key in fruits  
    - var url = key + ".html";
    if key == pagename
      a.active(href=url) #{value}
    else  
      a(href=url) #{value}
    