header
  h1.invert Webprojekt
  h2 Johannes Knieling, FIAE14

nav.invert

  - 
    const fruits = {
      Index:"Übersicht",
      PAP:"Programmablaufplan",
      Inhalt:"Template Engine Pug",
      Pug:"Codebeispiel Pug"
    };   
  
  each value, key in fruits  
    - var url = key + ".html";
    a(href=url) #{value}
    