nav.invert

  - 
    const pages = {
      Index:"Übersicht",
      PAP:"Programmablaufplan",
      Inhalt:"Template Engine Pug",
      Pug:"Codebeispiel Pug"
    };   
 
  each value, key in pages
    - var url = key + ".html";
    if key == pagename
      a.active(href=url) #{value}
    else  
      a(href=url) #{value}
    