header
  h1.invert Webprojekt
  h2 Johannes Knieling, FIAE 14

nav
  p.invert.
    #[a(href='Index.html') &Uuml;bersicht]
    #[a(href='PAP.html') Programmablaufplan]
    #[a.active(href='Inhalt.html') Template Engine Pug]      
    #[a(href='Pug.html') Codebeispiel Pug]